.personal {
	display: flex;
	flex-direction: row;
	p {
		margin: 0;
		padding: 0;
	}
	.toggle {
		width: 50px;
		height: 50px;
		position: absolute;
		margin: 20px 0 0 10px;
		z-index: 3;
		@include for-tablet-portrait-up {
			display: none;
		}
	}
	.openMenu {
		margin: 20px 0 0 calc(10px + 80vw);
	}
	width: 100%;
	height: 100%;
	.sectionMenu {
		max-height: 100vh;
		min-height: 100vh;
		.headerMenu {
			.menu {
				.item {
					p {
						margin: 0 0 15px 0;
						padding: 0;
						list-style: none;
						font-size: 16px;
						font-weight: 700;
						text-decoration: none;
						position: relative;
						padding: 10px 0;
						font-family: "Montserrat", Arial, sans-serif;
						cursor: pointer;
					}
					p:after {
						content: "";
						position: absolute;
						height: 1px;
						bottom: 7px;
						left: 0;
						right: 0;
						background-color: #000000;
						visibility: hidden;
						-webkit-transform: scaleX(0);
						-moz-transform: scaleX(0);
						-ms-transform: scaleX(0);
						-o-transform: scaleX(0);
						transform: scaleX(0);
						-webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
						-moz-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
						-ms-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
						-o-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
						transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
					}
					p:hover:after {
						visibility: visible;
						-webkit-transform: scaleX(1);
						-moz-transform: scaleX(1);
						-ms-transform: scaleX(1);
						-o-transform: scaleX(1);
						transform: scaleX(1);
						width: 50%;
						margin: 0 auto;
					}
				}
			}
		}
		flex: 22;
		background: #f5f5f5;
		text-align: center;
		@include for-phone-only {
			margin-left: -50%;
		}
		img {
			margin-top: 10%;
			width: 55%;
			border-radius: 500px;
		}
		h3 {
			margin-top: 5px;
			font-family: 'Poppins', sans-serif;
			font-size: 24px;
			font-weight: 700;
		}
	}
	.sectionMenuMobile {
		flex: 50;
		margin-left: 0%;
	}
	.sectionImageMobile {
		flex: 22 !important;
	}
	.displayNone {
		display: none;
	}
	.sectionImages {
		max-height: 100vh;
		min-height: 100vh;
		background-color: #f5f5f5;
		flex: 39;
		background-image: url('https://i.pinimg.com/564x/55/3a/12/553a12d8ba7860bcddfb4186cf0c99dd.jpg');
		background-size: cover;
		background-position: center;
		-webkit-transition: background-image 0.2s ease-in-out;
		transition: background-image 0.2s ease-in-out;
		img {
			width: auto;
			height: 100%;
		}
	}
	.sectionDesc {
		max-height: 100vh;
		min-height: 100vh;
		flex: 39;
		background: #f5f5f5;
		.desc {
			.preTitle {
				font-size: 24px;
				color: #bfbfbf;
				font-weight: 400;
				position: relative;
				z-index: 2;
				margin-left: 20px;
			}
			.fontTitle {
				position: absolute;
				top: 4px;
				left: calc(100vw - 38vw);
				right: 0;
				color: #ededed;
				z-index: 1;
				font-size: 70px;
				line-height: 1;
				font-family: "Montserrat", Arial, sans-serif;
				@include for-phone-only {
					display: none;
				}
			}
			.titleDesc {
				position: relative;
				letter-spacing: 1px;
				font-weight: 900;
				color: #000;
				font-family: "Poppins", Arial, sans-serif;
				z-index: 2;
				margin: 0 0 0 15px;
				font-size: 40px;
				text-align: left;
				@include for-phone-only {
					font-size: 28px;
				}
				span {
					color: #ccb78f;
				}
			}
			.description {
				color: #999999;
				font-size: 18px;
				font-weight: 500;
				font-family: "Montserrat", Arial, sans-serif;
				margin: 30px 7%;
				line-height: 1.8;
				@include for-phone-only {
					font-size: 14px;
				}
			}
			.padding {
				position: relative;
				position: relative;
				z-index: 2;
				height: 20px;
			}
		}
		@include for-phone-only {
			padding: 0 15px;
		}
	}
}
.image-gallery-content .image-gallery-slide .image-gallery-image {
	// height: 100vh;
	// width: calc(100vw - 61vw);
	// max-width: calc(100vw - 61vw);
	// max-height: 100vh;
	max-width: 100%;
	max-height: 100%;
	vertical-align: middle;
	width: 100%;
}

// efecto btn menu
i {
	text-align: left;
	cursor: pointer;
	visibility: visible;
	box-sizing: border-box;
	position: relative;
	display: inline-block;
	width: 35px;
	height: 4px;
	color: #000000;
	font: bold 14px/.4 Helvetica;
	text-transform: uppercase;
	text-indent: -55px;
	background: #000000;
	transition: all .2s ease-out;
}
i::before {
	top: -10px;
}
i::before,
i::after {
	content: '';
	width: 35px;
	height: 4px;
	background: #000000;
	position: absolute;
	left: 0;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

i::after {
	bottom: -10px;
}
i::after {
	content: '';
	width: 35px;
	height: 4px;
	background: #000000;
	position: absolute;
	left: 0;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
:hover,
.colorlib-nav-toggle:focus,
.colorlib-nav-toggle:active {
	outline: none;
}
.active i::before {
	top: 0;
	-webkit-transform: rotateZ(45deg);
	-moz-transform: rotateZ(45deg);
	-ms-transform: rotateZ(45deg);
	-o-transform: rotateZ(45deg);
	transform: rotateZ(45deg);
}
.active i::after {
	bottom: 0;
	-webkit-transform: rotateZ(-45deg);
	-moz-transform: rotateZ(-45deg);
	-ms-transform: rotateZ(-45deg);
	-o-transform: rotateZ(-45deg);
	transform: rotateZ(-45deg);
}
.active i {
	background: transparent;
}
